projet_4/flows (1).json
[{"id":"6f9a0d6da2a59029","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e0fa5333e2156f25","type":"inject","z":"6f9a0d6da2a59029","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":70,"y":60,"wires":[["caf91b2431c01785"]]},{"id":"caf91b2431c01785","type":"exec","z":"6f9a0d6da2a59029","command":"python3 /home/pi/mu_code/sensehat.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"py script","x":240,"y":60,"wires":[["90d170d9.67f698"],[],[]]},{"id":"03a698fc08921334","type":"mqtt in","z":"6f9a0d6da2a59029","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"8659b18e6bacbe97","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":360,"wires":[["978d0837f1828cad"]]},{"id":"243243b499eb3aa3","type":"mqtt out","z":"6f9a0d6da2a59029","name":"","topic":"temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8659b18e6bacbe97","x":770,"y":20,"wires":[]},{"id":"90d170d9.67f698","type":"function","z":"6f9a0d6da2a59029","name":"String Splitter ","func":"\n    msg1 = {};\n    msg2 = {};\n    msg3 = {};\n    msg4 = {};\n\nvar array = msg.payload.split('\\n'),\n    a = array[0], b = array[1], c = array[2], d = array[3];\n    \n    \n    msg1.payload = a;\n    \n    msg2.payload = b;\n   \n    msg3.payload = c;\n    \n    msg4.payload = d;\n    \n    \n    return [msg1,msg2,msg3,msg4];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["243243b499eb3aa3"],["9fcaf9f06d5eed23"],["79479cf8e9b76181"],["ab03079bcf5fc45e"]],"outputLabels":["temp","humi","pres","comp"]},{"id":"9fcaf9f06d5eed23","type":"mqtt out","z":"6f9a0d6da2a59029","name":"","topic":"humi","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8659b18e6bacbe97","x":770,"y":80,"wires":[]},{"id":"79479cf8e9b76181","type":"mqtt out","z":"6f9a0d6da2a59029","name":"","topic":"pres","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8659b18e6bacbe97","x":770,"y":140,"wires":[]},{"id":"ab03079bcf5fc45e","type":"mqtt out","z":"6f9a0d6da2a59029","name":"","topic":"comp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8659b18e6bacbe97","x":770,"y":200,"wires":[]},{"id":"73150448e066fb46","type":"mqtt in","z":"6f9a0d6da2a59029","name":"","topic":"humi","qos":"2","datatype":"auto","broker":"8659b18e6bacbe97","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":420,"wires":[["c119b123736d792a"]]},{"id":"2b9dd07b4b5baf73","type":"mqtt in","z":"6f9a0d6da2a59029","name":"","topic":"pres","qos":"2","datatype":"auto","broker":"8659b18e6bacbe97","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":480,"wires":[["5eaf255b50aca316"]]},{"id":"388ccf3548c4d9c6","type":"mqtt in","z":"6f9a0d6da2a59029","name":"","topic":"comp","qos":"2","datatype":"auto","broker":"8659b18e6bacbe97","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":540,"wires":[["3ebaba98160e9929"]]},{"id":"978d0837f1828cad","type":"ui_gauge","z":"6f9a0d6da2a59029","name":"","group":"a717af44f4f4d86b","order":1,"width":7,"height":5,"gtype":"gage","title":"Temperature","label":"Degree Celcius","format":"{{value}}","min":"0","max":"50","colors":["#0470c3","#00b400","#ca3838"],"seg1":"15","seg2":"35","className":"","x":310,"y":360,"wires":[]},{"id":"c119b123736d792a","type":"ui_gauge","z":"6f9a0d6da2a59029","name":"","group":"a717af44f4f4d86b","order":3,"width":7,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":300,"y":420,"wires":[]},{"id":"5eaf255b50aca316","type":"ui_gauge","z":"6f9a0d6da2a59029","name":"","group":"a717af44f4f4d86b","order":2,"width":7,"height":5,"gtype":"gage","title":"Atmospheric Pressure","label":"kg/cm2","format":"{{value}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1200","seg2":"1200","className":"","x":340,"y":480,"wires":[]},{"id":"3ebaba98160e9929","type":"ui_gauge","z":"6f9a0d6da2a59029","name":"","group":"a717af44f4f4d86b","order":4,"width":7,"height":5,"gtype":"compass","title":"Compass","label":"","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":300,"y":540,"wires":[]},{"id":"16e7d0b70a64e1e3","type":"ui_text_input","z":"6f9a0d6da2a59029","name":"","label":"Enter Words to Display","tooltip":"","group":"a717af44f4f4d86b","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"3000","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":620,"wires":[["2c3718c136f71de2"]]},{"id":"2c3718c136f71de2","type":"mqtt out","z":"6f9a0d6da2a59029","name":"","topic":"LED","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8659b18e6bacbe97","x":370,"y":620,"wires":[]},{"id":"f9bc07ace4d9c18d","type":"mqtt in","z":"6f9a0d6da2a59029","name":"","topic":"LED","qos":"2","datatype":"auto","broker":"8659b18e6bacbe97","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":200,"wires":[["7fa96ff13da43eaa"]]},{"id":"7fa96ff13da43eaa","type":"exec","z":"6f9a0d6da2a59029","command":"python3 /home/pi/mu_code/LEDdis.py \"","addpay":"payload","append":"\"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"py script LED","x":330,"y":200,"wires":[[],[],[]]},{"id":"4198b55bda992a1f","type":"comment","z":"6f9a0d6da2a59029","name":"Above: RP1","info":"","x":190,"y":260,"wires":[]},{"id":"245c492b1f43b445","type":"comment","z":"6f9a0d6da2a59029","name":"Below: RP2","info":"","x":190,"y":300,"wires":[]},{"id":"8659b18e6bacbe97","type":"mqtt-broker","name":"","broker":"192.168.0.19","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a717af44f4f4d86b","type":"ui_group","name":"Environment Control","tab":"55925672.3514d8","order":1,"disp":true,"width":14,"collapse":false},{"id":"55925672.3514d8","type":"ui_tab","name":"PiSenseHAT","icon":"dashboard","disabled":false,"hidden":false}]