projet_3/flows.json
[{"id":"980e9d2962b2bb39","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2653a0b0.26d638","type":"ui_gauge","z":"980e9d2962b2bb39","name":"","group":"9bd35dc4572a9e60","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":"35","max":"100","colors":["#b30000","#00e639","#cc0000"],"seg1":"40","seg2":"80","className":"","x":890,"y":120,"wires":[]},{"id":"fba68adf.14e13","type":"exec","z":"980e9d2962b2bb39","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","winHide":false,"name":"RPi Temp.","x":470,"y":120,"wires":[["fa5b499.e176cb8"],[],[]],"info":"execute vcgencmd measure_temp upon receiving a command from clock\n"},{"id":"7c8379de.068868","type":"inject","z":"980e9d2962b2bb39","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":"","topic":"","payloadType":"date","x":270,"y":120,"wires":[["fba68adf.14e13"]],"info":"\"clock\" bloc\n\nfor every 3s, it injects an activate command to the next bloc in order to take a measurement."},{"id":"fa5b499.e176cb8","type":"function","z":"980e9d2962b2bb39","name":"extract value","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["2653a0b0.26d638","28b64a2c.b32116"]]},{"id":"28b64a2c.b32116","type":"ui_chart","z":"980e9d2962b2bb39","name":"","group":"9bd35dc4572a9e60","order":3,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"35","ymax":"90","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":850,"y":160,"wires":[[]]},{"id":"9bd35dc4572a9e60","type":"ui_group","name":"out","tab":"c3173234.2636e","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"c3173234.2636e","type":"ui_tab","name":"RP CPU Temperature","icon":"dashboard","order":1,"disabled":false,"hidden":false}]